body {
    background-image: url('images/DaD_bg.png');
    background-color: #f9e2d7;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.logo img {
    flex: 1 1 0%;
    min-width: 500px;
    max-width: max-content;
}

.main-content {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.sidebar {
    flex: 1 1 0%;
    min-width: 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text {
    font-family: brother-1816, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: white;
}

.color,
.grid-size,
.tools,
.clear {
    flex: 1 1 0%;
    padding: 20px;
    border-radius: 25px;
    margin: 10px 20px;
    min-width: 30px;

}

.color {
    background-color: #babd8d;
}

.grid-size {
    background-color: #eb6424;
}

.slidecontainer {
    width: 100%;
    align-self: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: white;
    outline: none;
    border-radius: 25px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #f9b9a2;
    cursor: pointer;
}

.tools {
    background-color: #f9b9a2;
}

.tool-selection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shading-tool,
.eraser-tool,
.rainbow-tool {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 80px;
}

#shading,
#eraser,
#rainbow {
    flex: 1 1 0%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 10px 5px;
    margin-bottom: 0px;
    min-width: 80px;
}

#shading img,
#eraser img,
#rainbow img {
    flex: 1 1 0%;
    min-width: 10px;
    max-width: 70px;
}

.light-text {
    font-family: brother-1816, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 0px;
    margin-bottom: 10px;
}

.clear {
    background-color: #7c6a0a;
}

.grid-container {
    flex: 1 1 0%;
    display: flex;
    min-width: 600px;
    min-height: 600px;
    max-width: 800px;
    max-height: 800px;
    background-color: white;
    margin: 20px;
    margin-top: 0px;
}